p {
  margin: unset;
}

.visibility-hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 2px solid #fff;
  padding: 5px;
  overflow-wrap: break-word;
}

td {
  vertical-align: bottom;
}

th {
  background-color: #e5e5e5;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
  width: 18%;
}

td {
  background-color: #f1f1f1;
}

.app__table {
  font-size: 12px;
  margin: 0 auto;
}

@media(max-width: 510px) {
  .app__container {
    overflow-x: scroll;
  }
}